/* ------ CSS RESET ------ */

* {
    padding:0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
    }
    
body { width: 75%;
    max-width: 600px;
    font-family: 'Crimson text', 'Times New Roman', serif;
    margin: auto;
    background: #fff;
    color:black;
    line-height: 1.8em;
    }

header {margin: 6em 3em 3em 0em}

header h2 {
    font-style: italic;
    font-size: 1.5em;
    color: #d3d3d3;
}
  
/* ------------TYPOGRAPHY------------- */

h1,h2,h3 {
    font-weight: normal;
    color: #87cefa;
    text-align: center;
}

p,li,blockquote {
    margin-bottom: 1.58em;
    line-height: 1.5;
}

h1 {font-size: 3.3em;
    letter-spacing: .04em;
    margin-top: 1em;
    margin-bottom: .1em; 
}

h2 { font-size: .5em;
    margin-bottom: 1em;
    }

blockquote {
    padding: 1em 0 2em 0;
    font-size: 1.75em;
    line-height: 1.4em;
    color: #d3d3d3;}

blockquote cite {
    font-size: .75em;}

/* ----------IMAGES ------------ */

img {
    display: block;
    margin: 4em auto;
    padding: 0;
    max-width: 100% }

/* --------- FOOTER ------------*/

footer {
    text-align: center;
    font-size: .75em;
    line-height: 1.5em;
    padding-bottom: 2em;
    }
    
footer hr {
        margin: 3em 0}
    
/* ----------LINKS---------*/

a { 
    color: #87cefa;
    text-decoration: none;} */

a:hover {
    color: #fff;
    border-bottom: 1px dotted;}

/*----NAVIGATION-----*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #87cefa;
    padding: 1em 0;}
    

nav ul  {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;}

nav ul li {
    display: inline;
    margin: 20px; }

nav a:hover {
    border-bottom: none;
    color: #fff }

nav a:link {
    color: #d3d3d3}

nav a:visited {
    color: #fff;}

/*-----IMAGES-----*/
        
img {
    display: block;
    margin: 4em auto;
    padding: 0;
    max-width: 100% }
    
footer+small {
    text-align: left;}
    
footer hr {
    margin-bottom: 3em;}
    
/*-----TABLE------*/
    
table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;}
    
caption {
    margin-bottom: 1.em;
    text-align: center;
    text-transform: uppercase;}
    
th { color: #87cefa;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #fff;}
    
th,td {
    padding: 0.7em;
    color: #87cefa;}
    
table,td {
    background: #fff;
    border: 1px solid #fff;}

hr {
    margin: 0.6em;
    height: 2px;
    background-color: #87cefa;
    color: #87cefa;
    border: 0 none; }

}
    
    
    
    
